<div class="container">
  <div id="presentation">
    <div id="presentation-header">
      <!-- <a href="#" data-toggle="modal" data-target="#exampleModal"><h6>Let's connect !</h6></a> -->
      <a href="mailto:rose.grondin@gmail.com"><h6>Let's connect !</h6></a>
        <%#= render 'contact' %>
      <div id="picture">
      </div>
    </div>
    <div class="informations">
      <h1>Hello, I’m Rose !</h1>
      <p class="sub-title">Front end developer</p>
      <p>Recently completed a 9-week full stack web developement course,
      I’m seeking new projects to work on.
      If transparency, communication, empathy and knowledge-sharing are part of your values,
      I’m confident we’ll do well together!</p>
    </div>
  </div>
  <div class="informations story">
    <h2>My story</h2>
    <p>From Reunion Island, I moved to Montreal in 2010.
      I graduated from HEC Montreal in 2014 and started working immediately.
      After spending 3 years as an SEO specialist, I developed an interest in building websites.
      In January 2020, I enrolled in Le Wagon: a comprehensive 9-week coding bootcamp.
    </p>
    <p>Through this journey, I got confirmation that front-end development was made for me.
      I’m now even more eager and motivated to keep learning.
    </p>
    <p>I’d love to hear about your ideas and help
      you achieve your goals in anyway I can.
    </p>
    <div class="download">
     <a href="<%= image_url'resume.pdf'%>" title="Download my resume" download><img src="<%= image_url'download.svg'%>"></a>
      <h3>Download resumé</h3>
    </div>
  </div>
  <div id="technical-skills">
    <h2>Technical skills</h2>
    <div id="skills-list">
      <ul class="skill-set">
        <li>Ruby on Rails</li>
        <li>ES6 JavaScript</li>
        <li>HTML</li>
        <li>CSS</li>
      </ul>
      <ul class="skill-set">
        <li>Prototyping & Wireframe</li>
        <li>UI design</li>
        <li>Bootstrap</li>
        <li>Figma</li>
      </ul>
      <ul class="skill-set">
        <li>API, JSON scraping</li>
        <li>Git & Github</li>
        <li>Relational database SQL Postgres</li>
        <li class="learning">Curently learning:  React & Redux</li>
      </ul>
    </div>
  </div>
  <div id="project-section">
    <div id="project-header">
      <h2>Projects</h2>
    </div>
    <div id="project-cards">
      <%= link_to 'http://www.greenthumb.rocks/', target:"_blank" do %>
        <div class="project-card gb">
          <h3>Green Thumb</h3>
          <p>The new way to manage your home garden!</p>
        </div>
      <% end %>
      <%= link_to 'http://cocktailadvisor.herokuapp.com/cocktails', target:"_blank" do %>
        <div class="project-card ca">
          <h3>Cocktail Advisor</h3>
          <p>Browse through our selection, read user reviews
            and choose your next cocktail</p>
        </div>
      <% end %>
      <%= link_to 'http://stella-erratica.herokuapp.com/', target:"_blank" do %>
        <div class="project-card stell">
        <h3>Stellactica</h3>
        <p>Rent your planets to interstellar travelers</p>
      </div>
      <% end %>
      <div id="contact-info">
        <a href="https://www.linkedin.com/in/rosegrondin/" target=_blank><img src="<%= image_url'linkedin.svg'%>" alt=""></a>
        <p>(514) 659-1419</p>
        <p>rose.grondin@gmail.com</p>
      </div>
    </div>
  </div>

</div>
