<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Rose: Front end developer based in Montreal</title>
    <meta name="description" content="Need help building amazing web app? I'm a young front end developer who's looking for her next project to work on! Can't wait to hear about your ideas!">
    <%= favicon_link_tag %>
    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="Rose: Front end developer based in Montreal" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://res.cloudinary.com/dqld2goyf/image/upload/v1585345394/portfolio/photo_de_profil.jpg" />
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">

    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    </div>
    <%= yield %>
    <%= javascript_include_tag 'application' %>

    <%= javascript_pack_tag 'application' %>
  </body>
</html>
